.decision-box {
  width: 696px;
  max-height: 540px;
  background-color: white;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  padding: 32px;
}

.product-img {
  border-radius: 0;
}

.status-img {
  width: 75px;
  height: 75px;
}

img {
  border-radius: 75px;
}

.product-name {
  font-size: 22px;
  margin-bottom: 0;
}

.date-1 {
  font-size: 14px;
  line-height: 20px;
  color: #8D8D8E;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

.price {
  font-size: 22px;
}

.pay-count {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  color: #8D8D8E;
}

.payment-box {
  width: 216px;
}

.bar {
  border-radius: 4px;
  width: 96.33px;
  height: 4px;
}

.bg-yellow {
  background-color: #FBDE4B;
}

.bg-light-gray {
  background-color: #ECECEC;
}

.bg-white {
  background-color: #FFFFFF;
}

.info {
  font-size: 14px;
  line-height: 70%;
}

.info-key {
  font-size: 14px;
  color: #8D8D8E;
}

.line {
  font-weight: 300;
  font-size: 14px;
  line-height: 3px;

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8D8D8E;

  opacity: 0.24;
}

hr {
  border:none;
  border-top: 2px dotted #8D8D8E;
  color:#fff;
  background-color:#fff;
  height: 1px;
  width: 57%;
  margin: 7px 2px 4px;
  opacity: 0.24;
  letter-spacing: 0.02em;
  font-size: 14px;

}

.success-btn {
  width: 98%;
  padding: 16px 20px;
  background-color: #FBDE4B;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 0;
}

.white-btn {
  width: 98%;
  background: #FFFFFF;
  padding: 16px 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: 1px solid #ECECEC;
}

.agreement {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #000000;

  background-color: white;
  cursor: pointer;
  border-bottom: 1px solid #ECECEC;
}

.agreement:hover {
  text-decoration: none;
}

.link-icon {
  border-radius: 0;
}
