<div class="decision-box" *ngIf="product?.id">

  <div class="d-flex justify-content-between" style="width: 100%">
    <div class="d-flex float-left" style="height: 88.8px;">
      <div>
        <img src="assets/macBook.png"  class="product-img" alt="">
      </div>
      <div class="status-img ml-3">
        <img src="assets/decision-success.png" alt="" width="72" height="72">
      </div>
      <div style="width: 300px;">
        <h4 class="product?-name font-weight-bold ml-3 mt-2">{{product?.name}}</h4>
        <p class="date-1 ml-3 mt-2">Оплата до {{product?.payDate}}</p>
      </div>
    </div>

    <div class="payment-box text-right">
      <span class="price font-weight-bold">{{product?.price | numberFormat}} ₸</span>
      <p class="pay-count"> {{product?.amountPayed}} из 6 платежей</p>
    </div>
  </div>

  <div class="payment-progress mt-3 d-flex justify-content-center">
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 1 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 2 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 3 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 4 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 5 ? 'bg-yellow' : 'bg-light-gray'"></div>
    <div class="bar mx-1" [ngClass]="product?.amountPayed >= 6 ? 'bg-yellow' : 'bg-light-gray'"></div>
  </div>

  <div *ngIf="product?.status != 'Закрыт'">

    <div class="text-center mt-4">
      <button class="success-btn bg-yellow">Оплатить {{product?.monthlyPayment | numberFormat }}₸</button>
    </div>

    <div class="text-center mt-2">
      <button class="white-btn">Получить отсрочку</button>
    </div>
  </div>

  <div class="text-center mt-5" *ngIf="product?.status == 'Закрыт'">
    <button class="white-btn" disabled>Оплачено</button>
  </div>

  <div class="info mt-5 d-flex justify-content-between">
    <p class="info-key">Статус</p>
    <p class="line">
      ...................................................................................................</p>
    <span class="font-weight-bold">{{product?.status}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Срок рассрочки</p>
    <p class="line">
      ............................................................................................................</p>
    <span class="font-weight-bold">{{product?.installmentTerm}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Дата окончания</p>
    <p class="line">
      ............................................................................................................</p>
    <span class="font-weight-bold">{{product?.payDate}}</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Ежемесячный платеж</p>
    <p class="line">...............................................................................................</p>
    <span class="font-weight-bold">{{product?.monthlyPayment | numberFormat}} ₸</span>
  </div>

  <div class="info d-flex justify-content-between">
    <p class="info-key">Первый платеж</p>
    <p class="line">
      ..............................................................................................................</p>
    <span class="font-weight-bold">{{product?.firstPayment}}</span>
  </div>

  <div class="d-flex mt-3">
    <img src="assets/Vector.svg" alt="" class="link-icon mr-1">
    <a href="" class="agreement">Договор.pdf</a>
  </div>

</div>
