<div>

  <div class="success-pay mx-auto">
    <div style="margin-right: 112px;margin-left: 112px">
      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="80" height="80" rx="40" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.8 39.929C24.8 31.5735 31.5735 24.8 39.929 24.8C48.2846 24.8 55.0581 31.5735 55.0581 39.929C55.0581 48.2846 48.2846 55.0581 39.929 55.0581C31.5735 55.0581 24.8 48.2846 24.8 39.929ZM39.929 22.8C30.4689 22.8 22.8 30.4689 22.8 39.929C22.8 49.3891 30.4689 57.0581 39.929 57.0581C49.3891 57.0581 57.0581 49.3891 57.0581 39.929C57.0581 30.4689 49.3891 22.8 39.929 22.8ZM40.9286 31.8645C40.9286 31.3122 40.4809 30.8645 39.9286 30.8645C39.3764 30.8645 38.9286 31.3122 38.9286 31.8645V41.5419C38.9286 42.0942 39.3764 42.5419 39.9286 42.5419C40.4809 42.5419 40.9286 42.0942 40.9286 41.5419V31.8645ZM40.9286 47.1871C40.9286 46.6348 40.4809 46.1871 39.9286 46.1871C39.3764 46.1871 38.9286 46.6348 38.9286 47.1871V47.9935C38.9286 48.5458 39.3764 48.9935 39.9286 48.9935C40.4809 48.9935 40.9286 48.5458 40.9286 47.9935V47.1871Z" fill="white"/>
      </svg>
    </div>
    <div class="d-flex" style="justify-content: center;margin-top: 40px">
      <b style="font-size: 24px;line-height: 24px;">
        Ваш платеж не прошел
      </b>
    </div>

    <div class="d-flex" style="justify-content: center; margin-top: 8px; color: #8D8D8E">
        <span style="font-size: 14px;line-height: 20px;">Произошла ошибка. Повторите попытку</span>
    </div>

    <div class="text-center">
      <button class="success-btn bg-yellow" style="width: 100%" (click)="toNext()">Повторить еще раз</button>
    </div>
    <div class="text-center mt-1">
      <button class="white-btn bg-yellow" style="width: 100%" (click)="toNext()">В личный кабинет</button>
    </div>
  </div>

</div>

