<div *ngIf="showErrorAlert" style="position: absolute;top: 10%;left: 47%;" (click)="hideErrorAlert()">
  <svg width="110" height="44" viewBox="0 0 110 44" fill="none" xmlns="http://www.w3.org/2000/svg">\n' +
    '<path d="M0 12C0 5.37258 5.37258 0 12 0H98C104.627 0 110 5.37258 110 12V32C110 38.6274 104.627 44 98 44H12C5.37258 44 0 38.6274 0 32V12Z" fill="black"/>\n' +
    '<path fill-rule="evenodd" clip-rule="evenodd" d="M20.4949 26.4953C20.2159 26.7742 20.2159 27.2265 20.4949 27.5054C20.7738 27.7844 21.2261 27.7844 21.505 27.5054L26.0005 23.01L30.4974 27.5069C30.7764 27.7858 31.2286 27.7858 31.5076 27.5069C31.7865 27.2279 31.7865 26.7757 31.5076 26.4967L27.0106 21.9998L31.5055 17.505C31.7844 17.226 31.7844 16.7738 31.5055 16.4948C31.2265 16.2159 30.7743 16.2159 30.4953 16.4948L26.0005 20.9897L21.5071 16.4963C21.2282 16.2173 20.7759 16.2173 20.4969 16.4963C20.218 16.7752 20.218 17.2275 20.4969 17.5064L24.9903 21.9998L20.4949 26.4953Z" fill="white"/>\n' +
    '<path d="M53.1186 27H59.5618V25.6776H54.6548V22.5604H59.169V21.2429H54.6548V18.1406H59.5021V16.8182H53.1186V27ZM61.7148 27H63.2013V22.3366C63.2013 21.3374 63.9719 20.6165 65.0259 20.6165C65.3342 20.6165 65.6822 20.6712 65.8015 20.706V19.2841C65.6523 19.2642 65.359 19.2493 65.1701 19.2493C64.2752 19.2493 63.5096 19.7564 63.2312 20.5767H63.1516V19.3636H61.7148V27ZM67.3679 27H68.8544V22.3366C68.8544 21.3374 69.625 20.6165 70.679 20.6165C70.9872 20.6165 71.3352 20.6712 71.4545 20.706V19.2841C71.3054 19.2642 71.0121 19.2493 70.8231 19.2493C69.9283 19.2493 69.1626 19.7564 68.8842 20.5767H68.8047V19.3636H67.3679V27ZM75.9641 27.1541C78.1168 27.1541 79.5238 25.5781 79.5238 23.2166C79.5238 20.8402 78.1168 19.2642 75.9641 19.2642C73.8114 19.2642 72.4045 20.8402 72.4045 23.2166C72.4045 25.5781 73.8114 27.1541 75.9641 27.1541ZM75.9691 25.9062C74.5621 25.9062 73.9059 24.6783 73.9059 23.2116C73.9059 21.75 74.5621 20.5071 75.9691 20.5071C77.3661 20.5071 78.0224 21.75 78.0224 23.2116C78.0224 24.6783 77.3661 25.9062 75.9691 25.9062ZM81.463 27H82.9495V22.3366C82.9495 21.3374 83.7201 20.6165 84.7741 20.6165C85.0824 20.6165 85.4304 20.6712 85.5497 20.706V19.2841C85.4005 19.2642 85.1072 19.2493 84.9183 19.2493C84.0234 19.2493 83.2578 19.7564 82.9794 20.5767H82.8998V19.3636H81.463V27Z" fill="white"/>\n' +
    '</svg>
</div>
<div class="container">
  <div class="confirmation text-center pt-5 px-4">
    <label for="smsCodeOne" class="title">Подтвердите данные</label>
    <p class="instruction">Введите код, отправленный на номер +77775644433. Получить код повторно можно через: 00:29</p>
    <input type="text" [ngClass]="focusableOne.value!=null && focusableOne.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableOne id="smsCodeOne" maxlength="1" (input)="focusableTwo.focus()"/>
    <input type="text" [ngClass]="focusableTwo.value!=null && focusableTwo.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableTwo id="smsCodeTwo" maxlength="1" (input)="focusableThree.focus()" (keyup.backspace)="focusableOne.focus()" />
    <input type="text" [ngClass]="focusableThree.value!=null && focusableThree.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableThree id="smsCodeThree" maxlength="1" (input)="focusableFour.focus()" (keyup.backspace)="focusableTwo.focus()" />
    <input type="text" [ngClass]="focusableFour.value!=null && focusableFour.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableFour id="smsCodeFour" maxlength="1" (input)="focusableFive.focus()" (keyup.backspace)="focusableThree.focus()" />
    <input type="text" [ngClass]="focusableFive.value!=null && focusableFive.value.length > 0 ? 'mrgn-r-8 input-border-transparent':'mrgn-r-8 input-border-dimgrey'" #focusableFive id="smsCodeFive" maxlength="1" (input)="focusableSix.focus()" (keyup.backspace)="focusableFour.focus()" />
    <input type="text" [ngClass]="focusableSix.value!=null && focusableSix.value.length > 0 ? 'input-border-transparent':'input-border-dimgrey'" #focusableSix id="smsCodeSix" maxlength="1" (keyup.backspace)="focusableFive.focus()" />
    <button class="resend-btn pb-01" (click)="openLoader()">Отправить код повторно</button>
<!--    <button class="resend-btn pb-01" (click)="ErrorAlert()">Show error alert</button>-->
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
