.confirmation {
  display: block;
  width: 384px;
  height: 348px;
  background-color: white;
  margin: 140px auto 220px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.instruction {
  color: #8D8D8E;
  font-size: 14px;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"] {
  background: #FFFFFF;
  box-shadow: 0 2px 6px rgba(42, 70, 94, 0.12);
  border-radius: 12px;

  width: 44px;
  height: 72px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  background: repeating-linear-gradient(90deg, #ffffff 0px, #ffffff 49px, #000000 50px);
  /*letter-spacing: 5ch;*/
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 9px;
  padding-right: 10px;
}

.input-border-dimgrey{
  border: solid 1px dimgrey;
}

.input-border-transparent{
  border: solid 1px transparent;
}

input:focus {
  outline: none;
  color: black;
}

.resend-btn {
  margin-top: 30px;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #ECECEC;
  padding: 0;
}

.mrgn-r-8 {
  margin-right: 8px
}


