<div class="d-flex h-100">

  <div class="success-pay mx-auto justify-content-center align-self-center">
    <div style="margin-right: 112px;margin-left: 112px" class="text-center">
      <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="80" height="80" rx="40" fill="#FBDE4B"/>
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M25 40C25 31.7157 31.7157 25 40 25C42.3965 25 44.6591 25.5613 46.6661 26.5587C47.1607 26.8044 47.7608 26.6028 48.0066 26.1082C48.2524 25.6136 48.0507 25.0134 47.5561 24.7676C45.2788 23.6359 42.7122 23 40 23C30.6112 23 23 30.6112 23 40C23 49.3888 30.6112 57 40 57C49.3888 57 57 49.3888 57 40C57 39.3623 56.9648 38.7325 56.8963 38.1123C56.8356 37.5634 56.3414 37.1676 55.7925 37.2283C55.2435 37.289 54.8477 37.7832 54.9084 38.3321C54.9689 38.8794 55 39.4359 55 40C55 48.2843 48.2843 55 40 55C31.7157 55 25 48.2843 25 40ZM56.7071 28.2628C57.0976 27.8723 57.0976 27.2391 56.7071 26.8486C56.3166 26.4581 55.6834 26.4581 55.2929 26.8486L40 42.1415L35.3738 37.5153C34.9833 37.1248 34.3501 37.1248 33.9596 37.5153C33.569 37.9058 33.569 38.539 33.9596 38.9295L39.2929 44.2628C39.4804 44.4504 39.7348 44.5557 40 44.5557C40.2652 44.5557 40.5196 44.4504 40.7071 44.2628L56.7071 28.2628Z"
              fill="black"/>
      </svg>
    </div>
    <div class="info-main text-center mt-3">
      <b>Ваш товар успешно оплачен и оформляется для доставки</b>
    </div>

    <div class="text-center mt-3">
      <span class="info-add">В ближайшее время вы получите оповещение о доставке вашего заказа.</span>
    </div>

    <div class="text-center">
      <button class="success-btn bg-yellow" style="width: 100%" (click)="toNext()">В личный кабинет</button>
    </div>
  </div>

</div>

