<div style="display: flex; margin-top: 120px">
  <div class="section-list">
    <div [ngClass]="activeSection=='mainSection'?'active-section':'section'"><p class="section-text" (click)="scroll('mainSection')">Общее</p></div>
    <div [ngClass]="activeSection=='createAccSection'?'active-section':'section'"><p class="section-text" (click)="scroll('createAccSection')">Создание аккаунта</p></div>
    <div [ngClass]="activeSection=='contactWithUsSection'?'active-section':'section'"><p class="section-text" (click)="scroll('contactWithUsSection')">Ваше общение с нами</p></div>
    <div [ngClass]="activeSection=='paymentSection'?'active-section':'section'"><p class="section-text" (click)="scroll('paymentSection')">Платежная информация</p></div>
<!--    <div id="cookiesSection" [ngClass]="activeSection=='cookiesSection'?'active-section':'section'"><p class="section-text" (click)="scroll('cookiesSection')">Cookies</p></div>-->
  </div>
  <div class="block" id="mainSection">
    <span class="title">Политика конфиденциальности</span>
    <div style="margin-top: 24px">
      <span style="color: #8D8D8E">последнее обновление: 12.05.2021</span>
    </div>
    <p class="paragraph-title">Общее</p>
    <p class="content">Мы собираем личную информацию, когда вы предоставляете ее нам, когда вы используете наши Услуги и
      когда другие источники предоставляют ее нам, как описано ниже.</p>
    <p id="createAccSection" class="paragraph-title">Создание аккаунта</p>
    <p class="content">Когда вы создаете учетную запись или иным образом используете Услуги, мы собираем такую
      информацию, как ваше имя, адрес электронной почты, пароль, роль в вашей команде или на предприятии, а также
      необязательную фотографию профиля.</p>
    <p id="contactWithUsSection" class="paragraph-title">Ваше общение с нами</p>
    <p class="content">Мы собираем от вас личную информацию, такую как адрес электронной почты, номер телефона или
      почтовый адрес, когда вы запрашиваете информацию о наших Сервисах, регистрируетесь для получения нашей рассылки,
      запрашиваете поддержку клиентов или техническую поддержку или иным образом общаетесь с нами.
      Мы также собираем содержимое сообщений или вложений, которые вы можете нам отправлять, а также другую информацию,
      которую вы выбираете для предоставления и которая может быть связана с вашими сообщениями.</p>
    <p id="paymentSection" class="paragraph-title">Платежная информация</p>
    <p class="content">Когда вы выбираете подписку на персональный, командный или корпоративный планы для Услуг, мы
      собираем платежную информацию, позволяющую вам платить нам. Мы используем сторонних поставщиков платежных услуг
      для
      обработки платежей в Сервисах. Мы можем получать информацию, связанную с вашей платежной информацией, такую как
      платежный адрес и информацию о транзакции, но мы не храним платежную информацию напрямую в Сервисах. </p>
  </div>
</div>
