.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: black;
}

.content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.description {
  width: 449px;
  margin: 0 auto;
}

.main {
  font-size: 36px;
  font-weight: bold;
}

.secondary {
  color: #8D8D8E;
  font-size: 18px;
}

.loader {
  font-size: 10px;

  text-indent: -9999em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(from 90deg at 50% 50%,
  rgba(251, 222, 75, 0.0001) 0deg, #FBDE4B 359.96deg, rgba(251, 222, 75, 0.0001) 360deg);
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  background: black;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
