<div class="bg">
  <div class="content text-center">

    <div class="loader mx-auto">
    </div>
    <div class="description mt-4">
      <span class="main">Принимаем решение</span>
      <p class="secondary">Рассмотрение заявок занимает не более 5 минут.
        Пожалуйста, подождите!</p>
      <button class="btn" (click)="stopLoader()" [routerLink]="'/decision'">go</button>
    </div>
  </div>
</div>
