<footer class="footer">
<!--  [ngClass]="route == '/loader' ? 'bg-black' : ''"-->
  <div class="footer-inner content d-flex justify-content-between">
    <span class="f-text">© 2021, Unicard</span>
    <div>
      <span class="f-text mr-3">Конфиденциальность</span>
      <span class="f-text ml-3">Публичная оферта</span>
    </div>
    <span class="f-text">+7 700 500 20 20</span>
  </div>

</footer>
