.footer {
  padding: 30px 80px;
  position: relative;
  width: 100%;
  height: 80px;
  left: 0;
  /*top: 90%;*/
  bottom: 0;
  z-index: 1000;
}

.footer-inner {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.bg-black {
  background-color: black;
}

.f-text {
  color: gray;
}

.footer > .content {
  padding-right: 15px;
  padding-left: 15px;
}
