<div *ngIf="!next">

  <div class="decision-status text-center">
    <span style="font-size: 40px; font-weight: bold;">Ваша рассрочка одобрена</span>
  </div>
  <div class="decision-box mx-auto">

    <div class="d-flex justify-content-between">
      <div class="d-flex float-left">
        <div class="status-img">
          <img src="assets/decision-success.png" alt="" width="75" height="75">
        </div>
        <div>
          <h4 class="product-name font-weight-bold ml-3">Apple MacBook Pro</h4>
          <p class="date-1 ml-3">до 22.12.2021</p>
        </div>
      </div>

      <div class="payment-box text-right">
        <span class="price font-weight-bold">650 530 ₸</span>
        <p class="pay-count"> {{payed}} из 6 платежей</p>
      </div>
    </div>

    <div class="payment-progress mt-3 d-flex justify-content-center">
      <div class="bar mx-1" [ngClass]="payed >= 1 ? 'bg-yellow' : 'bg-light-gray'"></div>
      <div class="bar mx-1" [ngClass]="payed >= 2 ? 'bg-yellow' : 'bg-light-gray'"></div>
      <div class="bar mx-1" [ngClass]="payed >= 3 ? 'bg-yellow' : 'bg-light-gray'"></div>
      <div class="bar mx-1" [ngClass]="payed >= 4 ? 'bg-yellow' : 'bg-light-gray'"></div>
      <div class="bar mx-1" [ngClass]="payed >= 5 ? 'bg-yellow' : 'bg-light-gray'"></div>
      <div class="bar mx-1" [ngClass]="payed >= 6 ? 'bg-yellow' : 'bg-light-gray'"></div>
    </div>

    <div class="info mt-5 d-flex justify-content-between">
      <p class="info-key">Срок рассрочки</p>
      <hr>
      <span class="font-weight-bold">4 месяца</span>
    </div>

    <div class="info d-flex justify-content-between">
      <p class="info-key">Дата окончания</p>
      <hr>
      <span class="font-weight-bold">18.09.2021</span>
    </div>

    <div class="info d-flex justify-content-between">
      <p class="info-key">Первый платеж</p>
      <hr>
      <span class="font-weight-bold">1 апреля</span>
    </div>

    <div class="text-center mt-1">
      <button class="success-btn bg-yellow" (click)="toNext()">Перейти в личный кабинет</button>
    </div>
  </div>

</div>


<div *ngIf="next">
  <div class="decision-status text-center">
    <span class="title">Не одобрено</span>
    <p style="color: #8D8D8E" class="mt-1">Описание причины и просьба о действии...</p>
  </div>

  <div class="decision-box mx-auto">

    <div class="d-flex justify-content-between">
      <div class="d-flex float-left">
        <div class="status-img">
          <img src="assets/decision-fail.png" alt="" width="75" height="75">
        </div>
        <div>
          <h4 class="product-name font-weight-bold ml-3">Apple MacBook Pro</h4>
          <p class="date-1 ml-3">до 22.12.2021</p>
        </div>
      </div>

      <div class="payment-box text-right">
        <span class="price font-weight-bold">650 530 ₸</span>
        <p class="pay-count"> {{payed}} из 6 платежей</p>
      </div>
    </div>

    <div class="info mt-5 d-flex justify-content-between">
      <p class="info-key">Срок рассрочки</p>
      <hr>
      <span class="font-weight-bold">4 месяца</span>
    </div>

    <div class="info d-flex justify-content-between">
      <p class="info-key">Ежемесячный платеж</p>
      <hr>
      <span class="font-weight-bold">65 530 ₸</span>
    </div>

    <div class="info d-flex justify-content-between">
      <p class="info-key">Первый платеж</p>
      <hr>
      <span class="font-weight-bold">1 апреля</span>
    </div>

    <div class="text-center mt-1">
      <button class="fail-btn bg-white" [routerLink]="'/contract'">Перейти в личный кабинет</button>
    </div>

  </div>
</div>
