<nav class="navbar navbar-inner" [ngClass]="loader ? 'bg-black border-btm-dark' : 'border-btm-light'">
<!--  <div class="navbar-inner">-->
    <div class="col">
    <span class="navbar-brand mb-0 h1 title"
          [ngClass]="loader ? 'color-white' : ''">UNICARD</span>
    </div>

    <div class="col"
         *ngIf="route == 'home' || route == '/signup' || (route == '/confirmation' && loader) || route == '/decision'">
      <div class="steps">
        <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="route == 'home'">1</span>
        <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="route == '/signup'">2</span>
        <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="route == '/confirmation' && loader">3</span>
        <span class="mr-4" style="color: #8D8D8E; font-size: 14px" *ngIf="route == '/decision'">4</span>
        <svg height="2px">
          <line x1="0" y1="0" x2="300" y2="0" style="stroke:#ECECEC;stroke-width:5" *ngIf="route != '/loader'" />
          <line x1="0" y1="0" x2="300" y2="0" style="stroke:rgba(255, 255, 255, 0.12);stroke-width:5" *ngIf="route == '/loader'" />
          <line x1="0" y1="0" x2="75" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="route == 'home'"/>
          <line x1="0" y1="0" x2="150" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="route == '/signup'"/>
          <line x1="0" y1="0" x2="225" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="route == '/confirmation' && loader"/>
          <line x1="0" y1="0" x2="300" y2="0" style="stroke:#FBDE4B ;stroke-width:5" *ngIf="route == '/decision'"/>
        </svg>
        <span class="ml-4" style="color: #8D8D8E; font-size: 14px">4</span>
      </div>
    </div>

    <div class="col">
      <div class="d-flex justify-content-end">
        <div *ngIf="isAuthenticated">
          <img
            src="assets/profile-avatar.png"
            alt="no-profile" class="profile-png">
          <span class="username navbar-brand mx-4"
                [ngClass]="loader ? 'color-white' : ''">Алибек Д.О.</span>
        </div>
        <button class="btn btn-login" *ngIf="!isAuthenticated"
                [ngClass]="loader ? 'black-theme' : ''">Войти</button>
      </div>
    </div>
<!--  </div>-->

</nav>
