.profile-png {
  height: 35px;
  width: 35px;
  border-radius: 18px;
  vertical-align: middle;
}

.navbar {
  position: absolute;
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1000;
}

.navbar-inner {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.border-btm-light {
  border-bottom: 1px solid #ECECEC;
}

.border-btm-dark {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.bg-black {
  background-color: black;
}

.btn-login {
  background-color: black;
  color: white;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.color-white {
  color: white;
}

.black-theme {
  background-color: white;
  color: black;
}

.steps {
  text-align: center;
}
