.block {
  background-color: white;
  width: 70%;
  height: 400px;
  margin: 140px auto 170px;
  border-radius: 12px;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.04);
  padding: 8px 8px;
}

.img-box {
  position: relative;
  width: 47%;
  height: 100%;
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 51px 86px;
}

.product-info {
  position: relative;
  width: 53%;
  height: 100%;
  border-radius: 6px;
  padding: 90px 30px 60px;
}

.content {
  background-color: white;
  height: 100%;
  text-align: center;
}

.prd-title {
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-family: Inter;
  font-weight: bold;
}

.value {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.param {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8E;
}

.buy-btn {
  background-color: #FBDE4B;
  padding: 16px 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
}

.product-image {
  height: 282px;
  width: 300px;
}

.soska {
  width: 400px;
  height: 400px;
  background-color: #FBDE4B;
}
