

  <div class="block d-flex justify-content-between align-items-center">

    <div class="img-box">
      <img src="assets/macbook_pro_13.png" alt="product" class="product-image">
    </div>

    <div class="product-info">

      <div class="content">

        <div class="mb-4">
          <span class="prd-title">MacBook Pro 13”</span>
        </div>

        <div class="row mb-5">
          <div class="col-4 text-center">
            <span class="value">4 месяца</span><br>
            <span class="param">Срок рассрочки</span>
          </div>

          <div class="col-4 text-center">
            <span class="value">65 330 ₸</span><br>
            <span class="param">Ежемесячный платеж</span>
          </div>

          <div class="col-4 text-center">
            <span class="value">1 апреля</span><br>
            <span class="param">Первый платеж</span>
          </div>
        </div>

        <div class="">
          <button class="btn buy-btn" [routerLink]="['signup']">Купить в рассрочку</button>
        </div>
      </div>
    </div>
  </div>

