<div class="content container d-flex justify-content-center" *ngIf="products">
  <div class="mr-5">
    <ul class="nav nav-tabs tabs d-flex justify-content-start row text-center">
      <li class="col-4 ">
        <a class="nav-link tab-name active" data-toggle="tab" href="#all">
          ВСЕ
        </a>
      </li>
      <li class="nav-item col-4"><a class="nav-link tab-name" data-toggle="tab" href="#active">
        АКТИВНЫЕ
      </a>
      </li>
      <li class="nav-item col-4"><a class="nav-link tab-name" data-toggle="tab" href="#closed">
        ЗАКРЫТЫЕ
      </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="all">
        <ul class="list-group">
          <ng-container *ngFor="let item of products">
            <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
              [ngClass]="item.isActive ? 'active-item' : ''">

            <div class="item-info d-flex">
              <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 1 ? 'progress-bar-1':'',
                           item.amountPayed == 2 ? 'progress-bar-2' : '',
                           item.amountPayed == 3 ? 'progress-bar-3':'',
                           item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">
              </div>

              <div>
                <span class="list-product-name ml-2 font-weight-bold">{{item.name}}</span>
                <p class="provider ml-2">{{item.provider}}</p>
              </div>
            </div>

            <div class="text-right">
              <span class="list-product-price font-weight-bold">{{item.price | numberFormat}} ₸</span>
              <p class="list-product-date">до {{item.payDate }}</p>
            </div>
          </li>
          </ng-container>

        </ul>
      </div>
      <div class="tab-pane fade" id="active">
        <ul class="list-group">
          <ng-container *ngFor="let item of activeProducts">
            <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
                [ngClass]="item.isActive ? 'active-item' : ''">

              <div class="item-info d-flex">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                  <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 1 ? 'progress-bar-1':'',
                           item.amountPayed == 2 ? 'progress-bar-2' : '',
                           item.amountPayed == 3 ? 'progress-bar-3':'',
                           item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                  <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">
                </div>

                <div>
                  <span class="list-product-name ml-2 font-weight-bold">{{item.name}}</span>
                  <p class="provider ml-2">{{item.provider}}</p>
                </div>
              </div>

              <div class="text-right">
                <span class="list-product-price font-weight-bold">{{item.price | numberFormat}} ₸</span>
                <p class="list-product-date">до {{item.payDate }}</p>
              </div>
            </li>
          </ng-container>

        </ul>
      </div>
      <div class="tab-pane fade" id="closed">
        <ul class="list-group">
          <ng-container *ngFor="let item of closedProducts">
            <li class="item d-flex justify-content-between " (click)="clickEvent(item)"
                [ngClass]="item.isActive ? 'active-item' : ''">

              <div class="item-info d-flex">
                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                  <span class="progress-right">
                    <span class="progress-bar"
                          [ngClass]="[item.amountPayed == 1 ? 'progress-bar-1':'',
                           item.amountPayed == 2 ? 'progress-bar-2' : '',
                           item.amountPayed == 3 ? 'progress-bar-3':'',
                           item.amountPayed == 4 ? 'progress-bar-4':'',
                           item.amountPayed == 5 ? 'progress-bar-5':'',
                           item.amountPayed == 6 ? 'progress-bar-6':'',]"></span>
                </span>
                  <img src="assets/macbook_pro_13_sm.png" alt="" width="28" height="28">
                </div>

                <div>
                  <span class="list-product-name ml-2 font-weight-bold">{{item.name}}</span>
                  <p class="provider ml-2">{{item.provider}}</p>
                </div>
              </div>

              <div class="text-right">
                <span class="list-product-price font-weight-bold">{{item.price | numberFormat}} ₸</span>
                <p class="list-product-date">до {{item.payDate }}</p>
              </div>
            </li>
          </ng-container>

        </ul>
      </div>
    </div>
  </div>

  <div class="ml-5">
    <app-product-detail productId="{{product?.id}}" ></app-product-detail>
  </div>
</div>
<app-loader *ngIf="isLoading"></app-loader>
