<div class="text-center" *ngIf="!mainInfoEntered">
  <!--  form -->
  <div class="register align-content-center">
    <span class="welcome">Добро пожаловать</span>
    <p class="instruction mt-3">Заполните анкету, чтобы мы могли предоставить вам рассрочку</p>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="fullName"
             [ngClass]="isNameFocused ? 'input-active' : ''"
             (focus)="isNameFocused = true"
             (blur)="(this.fullName === '' || !this.fullName) ? isNameFocused = false : ''"
             id="inputName" autocomplete="off">
      <label for="inputName" [ngClass]="isNameFocused ? 'label-active' : ''">Введите ФИО</label>
    </div>

    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="email"
             [ngClass]="isEmailFocused ? 'input-active' : ''"
             (focus)="isEmailFocused = true"
             (blur)="(this.email === '' || !this.email) ? isEmailFocused = false : ''"
             id="email" autocomplete="off">
      <label for="email" [ngClass]="isEmailFocused ? 'label-active' : ''">Email</label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="phone" [ngClass]="isPhoneFocused ? 'input-active' : ''"
             (focus)="isPhoneFocused = true"
             (blur)="(this.phone === '' || !this.phone) ? isPhoneFocused = false : ''"
             id="phone" autocomplete="off">
      <label for="phone" [ngClass]="isPhoneFocused ? 'label-active' : ''">Мобильный номер телефона</label>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" [(ngModel)]="password" [ngClass]="isPwdFocused ? 'input-active' : ''"
             (focus)="isPwdFocused = true"
             (blur)="(this.password === '' || !this.password) ? isPwdFocused = false : ''"
             id="password" autocomplete="off">
      <label for="password" [ngClass]="isPwdFocused ? 'label-active' : ''">Придумайте пароль</label>
    </div>

    <button class="primary-btn" (click)="toNextForm()">Продолжить</button>

    <div class="form-check custom-checkbox">
      <input class="custom-control-input" type="checkbox" id="agreement">
      <label class="form-check-label custom-control-label mr-3" for="agreement">
        Я согласен с <a href="" style="color: black; font-weight: bold">политикой конфиденциальности</a>
        и <a href="" style="color: black; font-weight: bold">условиями использования</a>
        и даю <a href="" style="color: black; font-weight: bold">согласие на обработку моих персональных</a> данных
      </label>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="mainInfoEntered">
  <!-- form -->
  <div class="register align-content-center">
    <span class="welcome">Заполните данные</span>

    <div class="form-group mt-3">
      <input type="number" class="form-control" [(ngModel)]="iin" [ngClass]="isIinFocused ? 'input-active' : ''"
             (focus)="isIinFocused = true"
             (blur)="(!this.iin) ? isIinFocused = false : ''"
             id="iin" autocomplete="off">
      <label for="iin" [ngClass]="isIinFocused ? 'label-active' : ''">ИИН</label>
    </div>

    <div class="form-group">
      <input type="number" class="form-control" [(ngModel)]="idNumber" [ngClass]="isIdNumberFocused ? 'input-active' : ''"
             (focus)="isIdNumberFocused = true"
             (blur)="(!this.idNumber) ? isIdNumberFocused = false : ''"
             id="idNumber" autocomplete="off">
      <label for="idNumber" [ngClass]="isIdNumberFocused ? 'label-active' : ''">Номер удостоверения личности</label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="issued" [ngClass]="isIssuedFocused ? 'input-active' : ''"
             (focus)="isIssuedFocused = true"
             (blur)="(this.issued === '' || !this.issued) ? isIssuedFocused = false : ''"
             id="issued" autocomplete="off">
      <label for="issued" [ngClass]="isIssuedFocused ? 'label-active' : ''">Кем выдано</label>
    </div>

    <div class="form-group">
      <input type="date" class="form-control input-active" [(ngModel)]="expireDate"
             id="expireDate" autocomplete="off">
      <label for="expireDate" class="label-active">Срок действия</label>
    </div>

    <div class="form-group">
      <input type="date" class="form-control input-active" [(ngModel)]="birthDate"
             id="birthDate" autocomplete="off">
      <label for="birthDate" class="label-active">День рождения</label>
    </div>

    <button class="primary-btn" [routerLink]="'/confirmation'">Продолжить</button>

  </div>
</div>
