<div class="d-flex">
  <!--  form -->
  <div class="register-1 justify-content-center align-self-center">
    <span class="welcome">Адрес доставки</span>
    <div class="form-group mt-4">
      <input type="text" class="form-control" [(ngModel)]="city"
             [ngClass]="isCityFocused ? 'input-active' : ''"
             (focus)="isCityFocused = true"
             (blur)="(this.city === '' || !this.city) ? isCityFocused = false : ''"
             id="inputCity" autocomplete="off">
      <label for="inputCity" [ngClass]="isCityFocused ? 'label-active' : ''">Город</label>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="street"
             [ngClass]="isStreetFocused ? 'input-active' : ''"
             (focus)="isStreetFocused = true"
             (blur)="(this.street === '' || !this.street) ? isStreetFocused = false : ''"
             id="inputStreet" autocomplete="off">
      <label for="inputStreet" [ngClass]="isStreetFocused ? 'label-active' : ''">Улица</label>
    </div>
    <div class="row" style="margin-right: 0;margin-left: 0">
      <div class="form-group" style="width: 32%">
        <input type="text" class="form-control" [(ngModel)]="entrance"
               [ngClass]="isEntranceFocused ? 'input-active' : ''"
               (focus)="isEntranceFocused = true"
               (blur)="(this.entrance === '' || !this.entrance) ? isEntranceFocused = false : ''"
               id="inputEntrance" autocomplete="off">
        <label for="inputEntrance" [ngClass]="isEntranceFocused ? 'label-active' : ''">Подъезд</label>
      </div>

      <div class="form-group mx-auto" style="width: 32%">
        <input type="text" class="form-control" [(ngModel)]="floor"
               [ngClass]="isFloorFocused ? 'input-active' : ''"
               (focus)="isFloorFocused = true"
               (blur)="(this.floor === '' || !this.floor) ? isFloorFocused = false : ''"
               id="inputFloor" autocomplete="off">
        <label for="inputFloor" [ngClass]="isFloorFocused ? 'label-active' : ''">Этаж</label>
      </div>

      <div class="form-group" style="width: 32%">
        <input type="text" class="form-control" [(ngModel)]="flat"
               [ngClass]="isFlatFocused ? 'input-active' : ''"
               (focus)="isFlatFocused = true"
               (blur)="(this.flat === '' || !this.flat) ? isFlatFocused = false : ''"
               id="inputFlat" autocomplete="off">
        <label for="inputFlat" [ngClass]="isFlatFocused ? 'label-active' : ''">Квартира</label>
      </div>
    </div>

    <button class="primary-btn" (click)="toNextForm()">Продолжить</button>

  </div>
</div>
