.register-1 {
  width: 38%;
  text-align: center;
  margin: 145px auto 210px;
}

.welcome {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 40px;
}

.instruction {
  color: #8D8D8E;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

form {
  display: inline-block;
}

.form-group {
  position: relative;
}

.form-control {
  height: 56px;
  padding: 18px 24px;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #ECECED;
  box-sizing: border-box;
}

.form-control:focus {
  box-shadow: none;
}

label {
  position: absolute;
  left: 24px;
  top: 15px;
  transition: all 0.3s;
  color: #999;
  font-weight: normal;
}

.form-control:focus ~ label {
  left: 24px;
  top: 10px;
  font-size: 12px
}

.form-control:focus {
  padding: 30px 24px 10px;
}

.input-active {
  padding: 30px 24px 10px;
}

.label-active {
  left: 24px;
  top: 10px;
  font-size: 12px
}

.primary-btn {
  background-color: #FBDE4B;
  margin-top: 20px;
  padding: 16px 40%;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  border-radius: 13px;
  border: none;
}

.form-check-label {
  font-size: 14px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
